# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.ipynb_checkpoints/
.pytest_cache/
*.coverage
.coverage*

#


# Datos / Salidas
project/data/*.csv
project/data/*.json
project/output/parquet/
project/output/quality/
project/output/*.html
project/*.db

# OS
.DS_Store
Thumbs.db
/site/content/docs.old/

# IDE
.idea/
.vscode/
/.vscode/
/project/tools/clean_repo.py
/project/tools/copy_report_to_site.py
/project/tools/generate_expo_images.py
/project/tools/sync_docs_to_site.py
